---
# Managed by ansible
temperature_threshold: -32 # In F
device_location: '{{ tmp102_device_location }}'
aws_key_id: '{{ tmp102_aws_key_id }}'
aws_secret_key: '{{ tmp102_aws_secret_key }}'
email_addresses:
  - 'user@gmail.com'
  - 'phonenumber@tmomail.net'
from_email_address: 'user@gmail.com'
sleep_time: 10
smbus: 1 # Bus to find sensors. New Pis use 1
log:
  level: DEBUG
  file: STDOUT
temperature_sensor:
  i2c_address: 0x48
led1:
  pin: 11
led2:
  pin: 15
buzzer:
  pin: 13
  disabled: True
graphite:
  host: {{ tmp102_graphite_server }}
  port: 2003
